body
{
    background-color: rgb(50,50,50);
}

.card
{
    background-color: rgb(128,128,128);
    border-color: black;
}


a
{
    color: white;
}


.navbar
{
    background-color: rgb(128,128,128);
}
.navbar label
{
    margin-top: 20px;
    margin-left: 10px;
}

.label
{
    color: white;
}