body
{
    background-color: rgb(50,50,50);
}

.card
{
    background-color: rgb(128,128,128);
    border-color: black;
}


a
{
    color: white;
}


.navbar
{
    background-color: rgb(128,128,128);
}

label
{
    color: white;
}

h2,h4{
    color: white;
}

.butt:hover
{
    background-color: rgb(100,100,100);
}