

#menu_bar
{
    margin:auto;
    float: none;
    width: 720px;
    height: 50px;

}
#menu_buts
{
    
    margin:right;
    float: right;
    width: 150px;
    height: 50px;

}
#menu_bar input
{
    text-align: right;
    float: letf;

}
#menu_bar label
{
    text-align: right;
    float: letf;

}

.navbar label
{
    margin-top: 20px;
    margin-left: 10px;
}


#marc
{
    margin:auto;
    float: none;
    width: 720px;
    height: 720px;

}

#title
{
    width: 720px;
    height: 300px;
}

#poke_profile
{
    margin: auto;
    display: none;
    width: 720px;
    height: 512px;
}

#imgs img
{
    float: left;
    width: 200px;
    height: 200px;
}

.navbar
{
    display:inline;
    width: 720;
    height: 50px;
    float: left;
    
}
.navbar label
{
    float: left;
    width:140px;
}
.navbar input
{
    margin-top:7px;
    float: left;
    height: 35px;
}

#llistat
{
    visibility: visible;
    width:720px;
    height: 512px;
    margin: auto;
    
}


.card{

    float:left;
    background-color: white;
    width: 130px;
    height: 200px;
    
    border-style: double;
    text-align: center;
    border-radius: 20px;
    margin: 4px;
}

.card:hover
{
    transform: scale(1.2, 1.2);
    
  }


.card > img
{
    
    text-align: center;
    width: 120px;
    height: 120px;
}

.card > h3
{
    text-align: center;
    font-size: 18;
}


.navbar a
{
    float:left;
    
    margin-left: 140px;
    font-size: 20px;
}


.butt
{
 width: 200px;
 height: 50px;
 margin-left: 5px;
 
 transition: background-color 0.2s;

}


.butt label{
    width: 100%;
    opacity:1;
    margin-left: 35px;
}

#back-b
{
    float: right;
    margin-left: 20px;
}