

#poke_profile
{
    visibility: hidden;
    width: 720px;
    height: 720px;
}

#llistat
{
    visibility: visible;
    width:720px;
    height: 1550px;
    margin: auto;
    border-style: solid;
    border-color: black;
}



.card{

    float:left;
    background-color: white;
    width: 138px;
    height: 200px;
    border-color: gray;
    border-style: solid;
    text-align: center;
}

.card:hover
{
    transform: scale(1.2, 1.2);
    
  }


.card > img
{
    
    text-align: center;
    width: 120px;
    height: 120px;
}

.card > h3
{
    text-align: center;
    font-size: 18;
}