
#marc
{
    margin:auto;
    float: none;
    width: 720px;
    height: 720px;

}

#title
{
    width: 720px;
    height: 300px;
}

#poke_profile
{
    margin: auto;
    display: none;
    width: 720px;
    height: 512px;
}

#imgs img
{
    float: left;
    width: 200px;
    height: 200px;
}

.navbar
{
    display:inline;
    width: 720;
    height: 50px;
    float: left;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,7,7,1) 0%, rgba(255,255,255,1) 100%);
}
.navbar h4
{
    float: left;
    width:120px;
}
.navbar input
{
    margin-top:7px;
    float: left;
}

#llistat
{
    visibility: visible;
    width:720px;
    height: 512px;
    margin: auto;
    
}

.navbar a
{
    float:left;
    margin-top: 20px;
    margin-left: 270px;
    font-size: 20px;
}

.card{

    float:left;
    background-color: white;
    width: 130px;
    height: 200px;
    border-color: gray;
    border-style: double;
    text-align: center;
    border-radius: 20px;
    margin: 4px;
}

.card:hover
{
    transform: scale(1.2, 1.2);
    
  }


.card > img
{
    
    text-align: center;
    width: 120px;
    height: 120px;
}

.card > h3
{
    text-align: center;
    font-size: 18;
}